version: "3.8"

services:
  n8n:
    build: .
    restart: always
    env_file:
      - .env
    ports:
      - "5678:5678"
    volumes:
      - ./data:/home/node/.n8n
    environment:
      - N8N_LOG_LEVEL=info
      - NODE_ENV=production

volumes:
  data:
